/* Styles */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(69, 0, 138);
}

.container {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px 5px #000000;
}

.book-container {
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 2rem;
    border: 5px solid rgb(119, 0, 255);
}

.book-container h1 {
    padding: 0.7rem 0.7rem 0px 0.7rem;
    color: rgb(119, 0, 255);
    font-weight: 1000;
    font-size: 3rem;
    border-bottom: 2px solid rgb(119, 0, 255);
}

.book-list {
    border: 2px solid rgb(119, 0, 255);
}

table {
    border-collapse: collapse;
    border-style: hidden;
    text-align: center;
}

table th {
    padding: 1rem;
    box-shadow: 0px 0px 4px 3px rgb(119, 0, 255);
    font-size: 1.5rem;
}

table td {
    font-size: 1.5rem;
    overflow: auto;
    font-weight: 500;
    border: 2px solid rgb(119, 0, 255);
    padding: 1rem;
}

.add-book-btn {
    width: 10rem;
    height: 4rem;
    margin: 25px;
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(119, 0, 255);
    background-color: white;
    border: 2px solid rgb(119, 0, 255);
}

.add-book-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px rgb(119, 0, 255);
}

dialog {
    margin: auto;
    justify-content: center;
    align-items: center;
}

dialog h1 {
    text-align: center;

}

.close-btn {
    display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 2rem;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.close-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px rgb(119, 0, 255);
}

dialog::backdrop {
    background-color: #000000;
    opacity: 0.75;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input {
    border: 2px solid rgb(119, 0, 255);
    height: 2rem;
    width: 15rem;
}

select {
    border: 2px solid rgb(119, 0, 255);
    height: 2rem;
    width: 15rem;
}

.submit-btn {
    display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 2rem;
    color: rgb(119, 0, 255);
    background-color: white;
    border: 2px solid rgb(119, 0, 255);
}

.submit-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px rgb(119, 0, 255);
}

.del-btn,
.status-btn {
    margin: auto;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    height: 3rem;
    width: 10rem;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 10px;
}

.del-btn {
    color: red;
    background-color: white;
    border: 2px solid red;
}

.del-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px red;
}

.status-btn {
    color: rgb(119, 0, 255);
    background-color: white;
    border: 2px solid rgb(119, 0, 255);
}

.status-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px rgb(119, 0, 255);
}